body {
	margin: 30px 0px 0px 0px;
	padding: 0;
	background: #EFDABB url(images/img01.jpg) repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3E3B36;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #3E3530;
}
#menu a:hover, #menu .current_page_item a {
	background: url(images/img05.jpg) no-repeat left top;
	text-decoration: none;
}
#menu .current_page_item a {
	background: url(images/img05.jpg) no-repeat left top;
}



#page {
	width: 920px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background: url(images/img04.jpg) repeat-y left top;
}

#page-bgtop {
	background: url(images/img02.jpg) no-repeat left top;
}

#page-bgbtm {
	padding: 20px 0px;
	background: url(images/img03.jpg) no-repeat left bottom;
}
/* Content */

#content {
	float: right;
	width: 490px;
	padding: 30px 50px 0px 60px;
}

.post {
	margin-bottom: 40px;
}

.post .title {
	padding: 0px 0px 0px 0px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: -.5px;
}

.post .title a {
	color: #E44D32;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	border-bottom: 1px dotted #E7E2DC;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

